@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    font-family: "Oswald", sans-serif;
}

.profile_link 
{
    #The_Line
    {
        padding-right: 0px;
        padding-left: 0px;
        height: 10px;
        border-width: 0px;
        color:rgb(0, 0, 0);
        background-color:rgb(0, 0, 0)
    }

    #Text-contract
    {
        font-size: x-large;
    }
}

.Logo
{
    text-align: center;
    margin-left: 10px;
    transition: transform 0.5s ease;
}

.Logo .photo:hover {
    transform: translateY(-3px); /* Move the button 5px up */
}