image: node:18

stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - echo "Compiling the code..."
    - echo "Compile complete."

lint-test-job:
  stage: test
  before_script:
    - cd AutomateTest
    - npm install
    - npx playwright install --with-deps
  script:
    - npx playwright test

deploy-job:
  stage: deploy
  environment: production
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."
